@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #ffffe3;
  color: #10100e;
} */

@font-face {
  font-family: "Satoshi-Bold";
  src: url("/Satoshi-Bold.Otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("/Satoshi-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Satoshi-Medium", sans-serif;
}

h1 {
  font-family: "Satoshi-Bold", sans-serif;
}
